@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    src: url(../font/Roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url(../font/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url(../font/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: 'Roboto';
    font-weight: bold;
    src: url(../font/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: 'NotoSansKR';
    font-weight: 300;
    src: url(../font/NotoSansKR/NotoSansKR-Light.otf);
}
@font-face {
    font-family: 'NotoSansKR';
    font-weight: 400;
    src: url(../font/NotoSansKR/NotoSansKR-Regular.otf);
}
@font-face {
    font-family: 'NotoSansKR';
    font-weight: 500;
    src: url(../font/NotoSansKR/NotoSansKR-Medium.otf);
}
@font-face {
    font-family: 'NotoSansKR';
    font-weight: bold;
    src: url(../font/NotoSansKR/NotoSansKR-Bold.otf);
}

/**************************************************
    Common
**************************************************/
html, body {
    font: 16px/1.5 "NotoSansKR","Roboto",sans-serif;
    color: #111;
}
a {
    text-decoration: none; color: inherit;
}
img {
    border: 0; vertical-align: top;
}
button {
    border: 0; padding: 0; font: inherit;
    background-color: transparent;
    cursor: pointer;
}
button:focus, textarea:focus, input:focus {
    outline: none;
}

.clearfix { content: ''; display: block; clear: both; }
.hidden { 
    width: 0; height: 0; overflow: hidden;
    font-size: 0; line-height: 0; text-indent: -9999px;
}

/**************************************************
    Main
**************************************************/
/* skip_nav */
#skip_nav a{
    position: fixed; top: -50px; left: 0; z-index: 1000;
    width: 100%; height: 40px;
    line-height: 38px; text-align: center; color: white;
    background-color: rgb(89, 63, 146);
}
#skip_nav a:focus{
    top: 0;
}
/* END skip_nav */
/* header */
#header {
    width: 100%; height: 146px; padding: 55px 80px 0 80px; box-sizing: border-box;
    position: absolute; left: 0; top: 0; z-index: 10;
}
#header::after { content: ''; display: block; clear: both; }
#header .logo {
    float: left;
}
#header .logo a{
    display: block; height: 36px; padding-left: 91px;
    line-height: 36px;
    background: url(../images/symbol.png) no-repeat left center;
    background-size: 73px 36px;
}
#header .logo .M4NC{
    display: block; width: 98px; height: 26px; padding-top: 5px; 
}
#header #btn_open_menu {
    float: right; display: block; width: 34px; height: 28px; padding-top: 4px;
    text-indent: -9999px; font-size: 0; line-height: 0;
    background: url(../images/btn_menu.png) no-repeat center;
}
#header .nav {
    display: none; width: 100%;
    position: fixed; top: 0; left: 0; z-index: 100;
}
#header .nav .bg{
    width: 100%; height: 100vh;
    opacity: 0.5;
    background-color: #707070;
}
#header .nav #btn_close_menu{
    width: 30px; height: 29px;
    position: absolute; top: 59px; right: 77px; z-index: 110;
    background: url(../images/btn_close.png) no-repeat center;
}
#header .nav ul {
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    width: 540px; height: 100vh;
    position: absolute; top: 0; right: 0;
    background-color: #0f1118;
}
#header .nav ul>li {
    font: bold 50px/1.22 "Roboto",sans-serif;
    text-align: center; color: #69696e;
}
#header .nav ul>li+li { margin-top: 60px; }
#header .nav ul>li>a:hover {
    color: #fff;
}

/* END header */
/* container */
#container {
    width: 100%;
}
/* END container */
/* animation */
#animation {
    width: 100%; height: 684px;
    position: relative; overflow: hidden;
    transition: 0.8s ease;
    cursor: default;
}
#animation .canvas {
    display: none; flex-direction: column; align-items: center; justify-content: center;
    width: auto; height: auto; 
    /* min-width: 1920px; min-height: 1080px; */
    position: absolute; top: 50%; left: 50%; z-index: -1;
    font: bold 50px/61px 'Roboto'; color: #e6e6e6;
    transform: translate(-50%, -50%);
}

#animation .wrap-M4NC {
    width: 100%;
}
#animation .wrap-M4NC>div {
    position: absolute; top: 0; left: 0;
}

#animation .wrap-word {
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
#animation .wrap-word .word {
    display: flex; justify-content: space-between;
    width: 340px; margin: 78px 0;
}
#animation .word>div {
    position: relative;
}

#animation .wrap-accent {
    width: 100%;
}
#animation .wrap-accent>div {
    position: absolute; z-index: 10;
    overflow: hidden;
    transform-origin: left top;
}

#animation .wrap-plus { display: none }
#animation .wrap-plus>div {
    position: absolute; z-index: 20;
    transition: 0.8s;
}
#animation .wrap-plus>div:nth-child(1) {
    width: 40px; height: 96px; 
    top: calc(382px - 540px); left: calc(940px - 960px);
    background-color: #53c0d0;
}
#animation .wrap-plus>div:nth-child(2) {
    width: 126px; height: 40px; 
    top: calc(520px - 540px); left: calc(960px - 960px); z-index: 30;
    background-color: #4d38d1;
    transform: translateX(-50%);
}
#animation .wrap-plus>div:nth-child(3) {
    width: 40px; height: 96px;
    top: calc(602px - 540px); left: calc(940px - 960px);
    background-color: #ce4fe1;
}

#animation .wrap-title{
    display: none; overflow: hidden;
    height: 50px;
    position: absolute; top: calc(730px - 540px); left: 50%;
    font: 500 34px/50px 'NotoSansKR'; color: #333;
    transform: translateX(-50%);
}
#animation .wrap-title>div{
    display: inline-block; width: 65px; margin: 0 6px;
    opacity: 0; overflow: hidden;
    transition: 0.6s ease-in-out;
}
#animation .wrap-title>div:nth-child(1){
    color: #53c0d0;
    transform: translateY(-50px);
}
#animation .wrap-title>div:nth-child(2){
    position: relative;
    text-align: center; color: #5e48e8;
}
#animation .wrap-title>div:nth-child(2)>div {
    display: block; width: 50%; height: 50px; background-color: #fff;
    position: absolute; top: 0;
    transition: 0.6s;
}
#animation .wrap-title>div:nth-child(2)>div:nth-child(1){
    left: 0;
}
#animation .wrap-title>div:nth-child(2)>div:nth-child(2){
    right: 0;
}
#animation .wrap-title>div:nth-child(3){
    color: #d45ee5;
    transform: translateY(50px);
}
/* END animation */
/* content */
.content {
    max-width: 1360px; margin: 0 auto 104px auto;
}
@media screen and (max-width: 1377px) {
    .content { max-width: 1020px }
}
@media screen and (max-width: 1037px) {
    .content { max-width: 680px }
}
@media screen and (max-width: 694px) {
    .content { max-width: 340px }
}
.content .box-wrap {
    display: flex; flex-wrap: wrap;
}
.content .box-wrap>li {
    display: none;
    width: 300px; height: 378px; margin: 0 20px 70px 20px;
    position: relative; z-index: 0;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.6s ease-in-out;
    cursor: default;
}
.content .box-wrap>li:first-child { display: block }
.content .box-wrap>li:hover {
    box-shadow: 15px 15px 35px 0 rgba(0, 0, 0, 0.22);
}
.content .box-wrap>li:hover>div:first-child { height: 0 }
.content .box-wrap>li>div {
    width: 100%; height: 378px; padding: 0 24px;
    overflow: hidden; box-sizing: border-box;
    position: absolute; left: 0; top: 0; z-index: 10;
    background-color: #fff;
    transition: 0.7s ease-in-out;
}
.content .box-wrap>li>div .icon {
    width: 27px; height: 27px; margin-bottom: 17px;
    background: none no-repeat center;
}
.content .box-wrap>li>div .icon1 { background-image: url(../images/icon1.png); }
.content .box-wrap>li>div .icon2 { background-image: url(../images/icon2.png); }
.content .box-wrap>li>div .icon3 { background-image: url(../images/icon3.png); }
.content .box-wrap>li>div .icon4 { background-image: url(../images/icon4.png); }
.content .box-wrap>li>div .icon5 { background-image: url(../images/icon5.png); }
.content .box-wrap>li>div .icon6 { background-image: url(../images/icon6.png); }
.content .box-wrap>li>div .icon7 { background-image: url(../images/icon7.png); }
.content .box-wrap>li>div .icon8 { background-image: url(../images/icon8.png); }

.content .box-wrap>li>div .desc{
    margin: 51px 0 35px 0;
    border-bottom: 3px solid #333;
}
.content .box-wrap>li>div .desc>h3 {
    margin-bottom: 7px;
    font-weight: bold; font-size: 30px; line-height: 1.4; color: #111;
}
.content .box-wrap>li>div .desc>p {
    margin-bottom: 31px;
    font-weight: 300; font-size: 18px; line-height: 1.5; color: #999;
}
.content .shortcut>ul { 
    width: 100%;
}
.content .shortcut>ul::after { content: ''; display: block; clear: both; }
.content .shortcut>ul>li {
    float: left;
}
.content .shortcut>ul>li+li {
    margin-left: 8px;
}
.content .shortcut a{
    display: block; width: 43px; height: 43px;
    font-size: 0; line-height: 0; text-indent: -9999px;
}
.content .shortcut .mobile {
    background: url(../images/ico_Mo.png) no-repeat center;
}
.content .shortcut .desktop {
    background: url(../images/ico_PC.png) no-repeat center;
}

.content .box-wrap>li>div:last-child {
    display: none;
    z-index: 0;
    /* background: url(../images/bg_mobile.png) no-repeat center; */
    background-color: #5e48e8;
}
.content .box-wrap>li>div:last-child .desc {
    border-bottom: 3px solid #fff;
}
.content .box-wrap>li>div:last-child .desc>h3{
    color: #fff;
}
.content .box-wrap>li>div:last-child .desc>p {
    color: #fff; opacity: 0.5;
}
.content .box-wrap>li>div:last-child .shortcut .mobile {
    background: url(../images/ico_Mo_hover.png) no-repeat center;
}
.content .box-wrap>li>div:last-child .shortcut .desktop {
    background: url(../images/ico_PC_hover.png) no-repeat center;
}
/* END content */
/* footer */
#footer {
    box-sizing: border-box; overflow: hidden;
    width: 100%; height: 222px; padding: 60px 80px 0 80px;
    font-family: 'Roboto'; font-size: 16px;
    background-color: #f1f1f1;
}
#footer::after { content: ''; display: block; clear: both; }
#footer .left-wrap {
    float: left;
}
#footer .logo {
    margin-bottom: 32px;
    font-size: 0;
}
#footer .logo img{
    width: 204px; height: 23px;
}
#footer address {
    float: left;
}
#footer address>ul {
    margin-bottom: 7px;
    color: #111;
}
#footer address>ul::after { content: ''; display: block; clear: both; }
#footer address>ul>li {
    float: left; position: relative;
    font-weight: 500;
}
#footer address>ul>li+li {
    margin-left: 28px;
}
#footer address>ul>li+li::before {
    content :'';
    display: block; width: 1px; height: 9px;
    position: absolute; top: 7px; left: -15px;
    background-color: #bbb;    
}
#footer address>p {
    color: #333;
}
#footer .right-wrap {
    float: right;
}
#footer .right-wrap>ul {
    float: right; margin-top: 55px; margin-bottom: 7px;
    font-weight: bold; color: #111; font-size: 0;
}
#footer .right-wrap::after { content: ''; display: block; clear: both; }
#footer .right-wrap>ul::after { content: ''; display: block; clear: both; }
#footer .right-wrap>ul>li {
    float: left; position: relative;
}
#footer .right-wrap>ul>li>a {
    font-size: 16px;
}
#footer .right-wrap>ul>li+li { margin-left: 28px; }
#footer .right-wrap>ul>li+li::before {
    content: '';
    width: 3px; height: 3px;
    position: absolute; top: 10px; left: -15px;
    background-color: #bbb;
}
#footer .artntok {
    display: inline-block; width: 69px; height: 24px;
    font-size: 0; line-height: 0; text-indent: -9999px;
    background: url(../images/logo_artntok.png) no-repeat center;
}
#footer .naverblog {
    display: inline-block; width: 36px; height: 24px;
    font-size: 0; line-height: 0; text-indent: -9999px;
    background: url(../images/logo_blog.png) no-repeat center;
}
#footer .companybrochure {
    display: inline-block; padding-right: 20px;
    background: url(../images/icon_down.png) no-repeat right center;
    background-size: 13px 14px;
}
#footer .right-wrap>p::before { content: ''; display: block; clear: both }
#footer .right-wrap>p {
    display: block;
    color: #999; text-align: right;
}
/* END footer */